<main>
  <app-modal
    (close)="homeService.toggleModal()"
    [isShow]="homeService.isShowModal"
    [formGroup]="roomService.form"
  >
    <h2 class="text-2xl text-center font-bold">Create room</h2>
    <app-input
      label="Room name"
      placeholder="Room name"
      formControlName="name"
      errorMessage="Name is required"
    />
    <app-input
      label="Max players"
      placeholder="Max player"
      type="number"
      formControlName="maxPlayers"
      errorMessage="Min Player 4, Max player 40"
    />
    <div class="grid grid-cols-3 gap-x-4" formArrayName="rolesConfig">
      <div
        *ngFor="
          let roleGroup of roomService.form.controls.rolesConfig.controls;
          let i = index
        "
      >
        <div [formGroupName]="i">
          <input [id]="i" type="checkbox" formControlName="checked" />
          <label [for]="i">{{ roleGroup.value.roleId | getRoleName }}</label>
        </div>
      </div>
    </div>
    <app-button (click)="homeService.createRoom()"> Create room</app-button>
  </app-modal>
  <h1 class="w-full text-center text-4xl font-bold mt-4">Roles</h1>
  <section class="grid grid-cols-4 gap-4 mt-4">
    <div *ngFor="let item of roleService.roles" class="p-5 border-2">
      <p class="text-center">{{ item.name }}</p>
      <p>{{ item.description }}</p>
    </div>
  </section>
  <section class="flex justify-center mt-4">
    <app-button [disabled]="true">Join room</app-button>
    <app-button (click)="homeService.toggleModal()">Create room</app-button>
  </section>
</main>
