<div [class]="'relative' | className : errorMessage && 'pb-8'">
  <label *ngIf="label">{{ label }}</label>
  <input
    class="w-full rounded-lg p-2 bg-orange-200 outline-none text-cyan-950"
    [type]="type"
    [placeholder]="placeholder"
    name="name"
    (input)="onInput($event)"
    [value]="value"
    (blur)="onBlur()"
    [disabled]="isDisabled"
  />

  <div
    class="absolute bottom-0 left-0 text-red-500"
    *ngIf="control.touched && control.errors && errorMessage"
  >
    {{ errorMessage }}
  </div>
</div>
