<main *ngIf="gameService.currentGame">
  <div *ngFor="let player of formPlayers.controls; let i = index">
    <div
      class="mt-4 grid grid-cols-2 gap-4"
      [formGroup]="formPlayers.controls[i]"
    >
      <div>
        <app-input type="text" formControlName="virtual" />
      </div>
      <div>
        <app-select
          formControlName="roleId"
          [options]="(roles$ | async) || []"
        />
      </div>
    </div>
  </div>
  <app-button (click)="startGame()">ABC</app-button>
</main>
