<main class="mt-4" *ngIf="gameService.currentGame">
  <section class="grid grid-cols-4 gap-4">
    <div
      class="border border-stone-500 p-2"
      *ngFor="let player of gameService.currentGame.players"
    >
      <p class="text-center">{{ player.virtual }}</p>
      <p class="text-center border-t">{{ player.role.name }}</p>
    </div>
  </section>

  <section class="mt-4 border-stone-200 border-t-2">
    <h1 class="text-center text-4xl">
      Round {{ gameService.currentRound?.sequence }}
    </h1>
    <app-button (click)="nextRound()">Next round</app-button>
  </section>
</main>
