<main class="mt-4" *ngIf="gameService.currentGame">
  <section class="grid grid-cols-4 gap-4">
    <div
      class="border border-stone-500 p-2"
      *ngFor="let player of gameService.currentGame.players"
    >
      <p class="text-center">{{ player.virtual }}</p>
      <p class="text-center border-t">{{ player.role.name }}</p>
    </div>
  </section>

  <section class="mt-4 border-stone-200 border-t-2">
    <h1 class="text-center text-4xl">
      Round {{ gameService.currentRound?.sequence }}
    </h1>
    <app-button (click)="nextRound()">Next round</app-button>
    <app-button *ngIf="gameService.currentRound" (click)="nextAction()"
      >Next action ( {{ gameService.nextAction }} )</app-button
    >
  </section>
  <section>
    <h1 class="text-center text-4xl">{{ gameService.currentRound?.time }}</h1>
    <h1 class="text-center text-4xl">
      Current turn {{ gameService.currentAction }}
    </h1>
  </section>
  <section>
    <h1 class="text-center text-4xl">Choose a target</h1>
    <div class="grid grid-cols-4 gap-4 cursor-pointer">
      <div
        [class]="
          'border border-stone-500 p-2'
            | className : selectedTarget === player.id && 'border-lime-300'
        "
        *ngFor="let player of gameService.currentGame.players"
        (click)="selectTarget(player.id)"
      >
        <p class="text-center">{{ player.virtual }}</p>
        <p class="text-center border-t">{{ player.role.name }}</p>
      </div>
    </div>

    <div class="mt-4">
      <app-button *ngIf="selectedTarget">Commit action</app-button>
    </div>
  </section>
</main>
